{"en"
 {"clojure-turtle.core"
  {"clean"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "clean",
    :alias "clean"},
   "draw-turtle-commands"
   {:arglists ([turt]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "draw-turtle-commands"},
   "end-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "end-fill",
    :alias "end-fill"},
   "home"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "home",
    :alias "home"},
   "pendown"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "pendown",
    :alias "pendown"},
   "penup"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "penup",
    :alias "penup"},
   "setheading"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "setheading",
    :alias "setheading"},
   "setxy"
   {:arglists ([x y] [turt-state x y]),
    :resolved true,
    :existing "setxy",
    :alias "setxy"},
   "start-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "start-fill",
    :alias "start-fill"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "wait"}},
  "clojure-turtle.macros"
  {"all"
   {:macro true,
    :arglists ([& body]),
    :resolved true,
    :existing "all",
    :alias "all"},
   "repeat"
   {:macro true,
    :arglists ([n & body]),
    :resolved true,
    :existing "repeat",
    :alias "repeat"}},
  "power-turtle.api"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "add-action"},
   "back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "back"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "blue"},
   "color"
   {:arglists ([x]),
    :resolved true,
    :existing "color",
    :alias "color"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "forward"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "green"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "left"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "octagon"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "pattern"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "red"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "right"}},
  "power-turtle.view.canvas.raster-api"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "clear"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "hlin"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "plot"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "scrn"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "vlin"}}},
 "es"
 {"clojure-turtle.core"
  {"back"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "back",
    :alias "espalda"},
   "clean"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "clean",
    :alias "limpiar"},
   "color"
   {:arglists ([c] [turt-state c]),
    :resolved true,
    :existing "color",
    :alias "color"},
   "draw-turtle-commands"
   {:arglists ([turt]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "dibujar-comandos-tortuga"},
   "end-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "end-fill",
    :alias "relleno-final"},
   "forward"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "forward",
    :alias "adelante"},
   "home"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "home",
    :alias "casa"},
   "left"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "left",
    :alias "izquierda"},
   "pendown"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "pendown",
    :alias "plumaabajo"},
   "penup"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "penup",
    :alias "levantarpincel"},
   "right"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "right",
    :alias "derecho"},
   "setheading"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "setheading",
    :alias "encabezado-de-conjunto"},
   "setxy"
   {:arglists ([x y] [turt-state x y]),
    :resolved true,
    :existing "setxy",
    :alias "xyconjunto"},
   "start-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "start-fill",
    :alias "comience-el-llenado"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "espere"}},
  "clojure-turtle.macros"
  {"all"
   {:macro true,
    :arglists ([& body]),
    :resolved true,
    :existing "all",
    :alias "todas"},
   "repeat"
   {:macro true,
    :arglists ([n & body]),
    :resolved true,
    :existing "repeat",
    :alias "repetir"}},
  "power-turtle.api"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "añadir-acción"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "azul"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "verde"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "octágono"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "patrón"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "rojo"}}},
 "id"
 {"clojure-turtle.core"
  {"back"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "back",
    :alias "kembali"},
   "clean"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "clean",
    :alias "bersih"},
   "color"
   {:arglists ([c] [turt-state c]),
    :resolved true,
    :existing "color",
    :alias "warna"},
   "draw-turtle-commands"
   {:arglists ([turt]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "menggambar-perintah-penyu"},
   "end-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "end-fill",
    :alias "akhir-mengisi"},
   "forward"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "forward",
    :alias "meneruskan"},
   "home"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "home",
    :alias "rumah"},
   "left"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "left",
    :alias "kiri"},
   "pendown"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "pendown",
    :alias "penake"},
   "penup"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "penup",
    :alias "penanaik"},
   "right"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "right",
    :alias "kanan"},
   "setheading"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "setheading",
    :alias "menetapkankepala"},
   "setxy"
   {:arglists ([x y] [turt-state x y]),
    :resolved true,
    :existing "setxy",
    :alias "menetapkanxy"},
   "start-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "start-fill",
    :alias "mulai-mengisi"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "tunggu"}},
  "clojure-turtle.macros"
  {"all"
   {:macro true,
    :arglists ([& body]),
    :resolved true,
    :existing "all",
    :alias "semua"},
   "repeat"
   {:macro true,
    :arglists ([n & body]),
    :resolved true,
    :existing "repeat",
    :alias "berkali-kali"}},
  "power-turtle.api"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "menambahkan-tindakan"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "biru"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "hijau"},
   "html"
   {:arglists ([x]),
    :resolved true,
    :existing "html",
    :alias "jaringan"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "segidelapan"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "pola"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "merah"}}},
 "ko"
 {"clojure-turtle.core"
  {"back"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "back",
    :alias "뒤로"},
   "clean"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "clean",
    :alias "깨끗한"},
   "draw-turtle-commands"
   {:arglists ([turt]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "거북이명령을그릴"},
   "end-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "end-fill",
    :alias "최종채우기"},
   "forward"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "forward",
    :alias "앞으로"},
   "home"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "home",
    :alias "집"},
   "left"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "left",
    :alias "왼쪽"},
   "pendown"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "pendown",
    :alias "펜다운"},
   "penup"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "penup",
    :alias "펜까지"},
   "right"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "right",
    :alias "권리"},
   "setheading"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "setheading",
    :alias "표제"},
   "setxy"
   {:arglists ([x y] [turt-state x y]),
    :resolved true,
    :existing "setxy",
    :alias "위치"},
   "start-fill"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "start-fill",
    :alias "채우기시작"},
   "wait"
   {:arglists ([ms]), :resolved true, :existing "wait", :alias "기다림"}},
  "clojure-turtle.macros"
  {"all"
   {:macro true,
    :arglists ([& body]),
    :resolved true,
    :existing "all",
    :alias "모든"},
   "repeat"
   {:macro true,
    :arglists ([n & body]),
    :resolved true,
    :existing "repeat",
    :alias "자꾸"}},
  "power-turtle.api"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "작업을추가"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "푸른"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "녹색"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "웹페이지"},
   "octagon"
   {:arglists ([]), :resolved true, :existing "octagon", :alias "팔각형"},
   "pattern"
   {:arglists ([]), :resolved true, :existing "pattern", :alias "무늬"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "빨간"}}},
 "ta"
 {"clojure-turtle.core"
  {"back"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "back",
    :alias "பின்னால்"},
   "clean"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "clean",
    :alias "துப்புரவு"},
   "forward"
   {:arglists ([len] [turt-state len]),
    :resolved true,
    :existing "forward",
    :alias "முன்னால்"},
   "home"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "home",
    :alias "வீடு"},
   "left"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "left",
    :alias "இடது"},
   "pendown"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "pendown",
    :alias "எழுதுகோல்வை"},
   "penup"
   {:arglists ([] [turt-state]),
    :resolved true,
    :existing "penup",
    :alias "எழுதுகோலெடு"},
   "right"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "right",
    :alias "வலது"},
   "setheading"
   {:arglists ([ang] [turt-state ang]),
    :resolved true,
    :existing "setheading",
    :alias "திசைவை"}},
  "clojure-turtle.macros"
  {"all"
   {:macro true,
    :arglists ([& body]),
    :resolved true,
    :existing "all",
    :alias "எல்லாம்"},
   "repeat"
   {:macro true,
    :arglists ([n & body]),
    :resolved true,
    :existing "repeat",
    :alias "மீண்டும்"}},
  "power-turtle.api"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "சேர்க்க-நடவடிக்கை"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "நீல"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "பச்சை"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "எண்கோணம்"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "முறை"},
   "red"
   {:arglists ([]),
    :resolved true,
    :existing "red",
    :alias "சிவப்பு"}}}}
