{"de"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "aktion-hinzufügen",
    :docstring "",
    :comment ""},
   "html"
   {:arglists ([x]),
    :resolved true,
    :existing "html",
    :alias "html",
    :docstring "",
    :comment ""}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "klar"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "horizontale-linie"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "grundstück"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "bildschirm"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "vertikale-linie"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]),
    :resolved true,
    :existing "back",
    :alias "zurück"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "blau"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "sauber"},
   "color"
   {:arglists ([x]),
    :resolved true,
    :existing "color",
    :alias "farbe"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "zeichne-schildkröte-befehle"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "ende-füllen"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "vorwärts"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "grün"},
   "home"
   {:arglists ([]),
    :resolved true,
    :existing "home",
    :alias "zuhause"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "links"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "achteck"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "muster"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "drin-nach-unten"},
   "penup"
   {:arglists ([]),
    :resolved true,
    :existing "penup",
    :alias "steige-hoch"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "rot"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "wiederhole"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "rechts"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "überschrift-setzen"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "xy-setzen"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "start-füllen"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "warte-ab"}}},
 "en"
 {"power-turtle.api.chart"
  {"chart"
   {:arglists ([a] [a b]),
    :resolved true,
    :existing "chart",
    :alias "chart",
    :docstring "",
    :comment ""}},
  "power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "add-action",
    :docstring "",
    :comment ""},
   "html"
   {:arglists ([x]),
    :resolved true,
    :existing "html",
    :alias "html",
    :docstring "",
    :comment ""}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "clear"},
   "color"
   {:arglists ([c]),
    :resolved true,
    :existing "color",
    :alias "color"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "hlin"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "plot"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "scrn"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "vlin"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "back"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "blue"},
   "clean"
   {:arglists ([]), :resolved true, :existing "clean", :alias "clean"},
   "color"
   {:arglists ([x]),
    :resolved true,
    :existing "color",
    :alias "color"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "draw-turtle-commands"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "end-fill"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "forward"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "green"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "home"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "left"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "octagon"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "pattern"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "pendown"},
   "penup"
   {:arglists ([]), :resolved true, :existing "penup", :alias "penup"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "red"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "repeat"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "right"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "setheading"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "setxy"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "start-fill"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "wait"}}},
 "es"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "añadir-acción"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]),
    :resolved true,
    :existing "clear",
    :alias "limpiar"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "linea-horizontal"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "trazar"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "pantalla"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "linea-vertical"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]),
    :resolved true,
    :existing "back",
    :alias "retroceder"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "azul"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "limpiar"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "dibujar-comandos-tortuga"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "termiar-llenado"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "avanzar"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "verde"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "inicio"},
   "left"
   {:arglists ([x]),
    :resolved true,
    :existing "left",
    :alias "izquierda"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "octágono"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "patrón"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "bajar-pincel"},
   "penup"
   {:arglists ([]),
    :resolved true,
    :existing "penup",
    :alias "levantar-pincel"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "rojo"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "derecha"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "asignar-encabezado"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "asignar-conjuntoxy"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "iniciar-llenado"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "esperar"}}},
 "fr"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "ajouter-une-action"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "clair"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "ligne-horizontale"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "terrain"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "écran"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "ligne-verticale"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]),
    :resolved true,
    :existing "back",
    :alias "arrière"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "bleu"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "nettoyer"},
   "color"
   {:arglists ([x]),
    :resolved true,
    :existing "color",
    :alias "couleur"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "dessiner-des-commandes-de-tortue"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "remplissage-final"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "avant"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "vert"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "maison"},
   "left"
   {:arglists ([x]),
    :resolved true,
    :existing "left",
    :alias "gauche"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "octogone"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "modèle"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "stylo-vers-le-bas"},
   "penup"
   {:arglists ([]), :resolved true, :existing "penup", :alias "plume"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "rouge"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "répéter"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "droite"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "positionner-len-tête"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "ensemblexy"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "commencer-à-remplir"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "attendez"}}},
 "id"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "menambahkan-tindakan"},
   "html"
   {:arglists ([x]),
    :resolved true,
    :existing "html",
    :alias "jaringan"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]),
    :resolved true,
    :existing "clear",
    :alias "bersih"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "garis-horisontal"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "merencanakan"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "layar"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "garis-vertikal"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]),
    :resolved true,
    :existing "back",
    :alias "kembali"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "biru"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "bersih"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "menggambar-perintah-penyu"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "akhir-mengisi"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "meneruskan"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "hijau"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "rumah"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "kiri"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "segidelapan"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "pola"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "penake"},
   "penup"
   {:arglists ([]),
    :resolved true,
    :existing "penup",
    :alias "penanaik"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "merah"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "kanan"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "menetapkankepala"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "menetapkanxy"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "mulai-mengisi"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "tunggu"}}},
 "ko"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "작업을추가"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "웹페이지"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "명확한"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "수평선"},
   "plot"
   {:arglists ([x y]), :resolved true, :existing "plot", :alias "음모"},
   "scrn"
   {:arglists ([x y]), :resolved true, :existing "scrn", :alias "화면"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "수직선"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "뒤로"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "푸른"},
   "clean"
   {:arglists ([]), :resolved true, :existing "clean", :alias "깨끗한"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "거북이명령을그릴"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "최종채우기"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "앞으로"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "녹색"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "집"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "왼쪽"},
   "octagon"
   {:arglists ([]), :resolved true, :existing "octagon", :alias "팔각형"},
   "pattern"
   {:arglists ([]), :resolved true, :existing "pattern", :alias "무늬"},
   "pendown"
   {:arglists ([]), :resolved true, :existing "pendown", :alias "펜다운"},
   "penup"
   {:arglists ([]), :resolved true, :existing "penup", :alias "펜까지"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "빨간"},
   "right"
   {:arglists ([x]), :resolved true, :existing "right", :alias "권리"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "표제"},
   "setxy"
   {:arglists ([x y]), :resolved true, :existing "setxy", :alias "위치"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "채우기시작"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "기다림"}}},
 "ru"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "добавить-действие"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "Чисто"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "горизонтальная-линия"},
   "plot"
   {:arglists ([x y]),
    :resolved true,
    :existing "plot",
    :alias "сюжет"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "экран"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "вертикальная-линия"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "назад"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "синий"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "чистый"},
   "color"
   {:arglists ([x]), :resolved true, :existing "color", :alias "цвет"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "рисовать-черепахи"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "конец-заполнения"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "вперед"},
   "green"
   {:arglists ([]),
    :resolved true,
    :existing "green",
    :alias "зеленый"},
   "home"
   {:arglists ([]),
    :resolved true,
    :existing "home",
    :alias "Главная"},
   "left"
   {:arglists ([x]),
    :resolved true,
    :existing "left",
    :alias "оставил"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "восьмиугольник"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "шаблон"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "ручка-вниз"},
   "penup"
   {:arglists ([]),
    :resolved true,
    :existing "penup",
    :alias "поднимать-вверх"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "красный"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "повторение"},
   "right"
   {:arglists ([x]),
    :resolved true,
    :existing "right",
    :alias "правильно"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "установить-заголовок"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "заданное-положение"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "начать-заполнять"},
   "wait"
   {:arglists ([ms]),
    :resolved true,
    :existing "wait",
    :alias "Подождите"}}},
 "ta"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "சேர்க்க-நடவடிக்கை"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "காலி"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "கிட-கோடு"},
   "plot"
   {:arglists ([x y]), :resolved true, :existing "plot", :alias "சதி"},
   "scrn"
   {:arglists ([x y]),
    :resolved true,
    :existing "scrn",
    :alias "திரை"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "செங்குத்து-கோடு"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]),
    :resolved true,
    :existing "back",
    :alias "பின்னால்"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "நீலம்"},
   "clean"
   {:arglists ([]),
    :resolved true,
    :existing "clean",
    :alias "துப்புரவு"},
   "forward"
   {:arglists ([x]),
    :resolved true,
    :existing "forward",
    :alias "முன்னால்"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "பச்சை"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "வீடு"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "இடது"},
   "octagon"
   {:arglists ([]),
    :resolved true,
    :existing "octagon",
    :alias "எண்கோணம்"},
   "pattern"
   {:arglists ([]),
    :resolved true,
    :existing "pattern",
    :alias "தோரணி"},
   "pendown"
   {:arglists ([]),
    :resolved true,
    :existing "pendown",
    :alias "எழுதுகோல்வை"},
   "penup"
   {:arglists ([]),
    :resolved true,
    :existing "penup",
    :alias "எழுதுகோலெடு"},
   "red"
   {:arglists ([]), :resolved true, :existing "red", :alias "சிவப்பு"},
   "right"
   {:arglists ([x]), :resolved true, :existing "right", :alias "வலது"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "திசைவை"}}},
 "zh_CN"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "添加动作"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "明确"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "水平线"},
   "plot"
   {:arglists ([x y]), :resolved true, :existing "plot", :alias "情节"},
   "scrn"
   {:arglists ([x y]), :resolved true, :existing "scrn", :alias "屏幕"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "垂线"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "背部"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "蓝色"},
   "clean"
   {:arglists ([]), :resolved true, :existing "clean", :alias "清洁"},
   "color"
   {:arglists ([x]), :resolved true, :existing "color", :alias "颜色"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "画乌龟命令"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "结束填充"},
   "forward"
   {:arglists ([x]), :resolved true, :existing "forward", :alias "前锋"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "绿色"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "家"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "剩下"},
   "octagon"
   {:arglists ([]), :resolved true, :existing "octagon", :alias "八角形"},
   "pattern"
   {:arglists ([]), :resolved true, :existing "pattern", :alias "模式"},
   "pendown"
   {:arglists ([]), :resolved true, :existing "pendown", :alias "下笔"},
   "penup"
   {:arglists ([]), :resolved true, :existing "penup", :alias "抬起头"},
   "red" {:arglists ([]), :resolved true, :existing "red", :alias "红"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "重复"},
   "right"
   {:arglists ([x]), :resolved true, :existing "right", :alias "对"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "设置标题"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "设定位置"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "开始填写"},
   "wait"
   {:arglists ([ms]), :resolved true, :existing "wait", :alias "等待"}}},
 "zh_TW"
 {"power-turtle.api.html"
  {"add-action"
   {:arglists ([label f]),
    :resolved true,
    :existing "add-action",
    :alias "添加動作"},
   "html"
   {:arglists ([x]), :resolved true, :existing "html", :alias "html"}},
  "power-turtle.api.raster"
  {"clear"
   {:arglists ([]), :resolved true, :existing "clear", :alias "明確"},
   "hlin"
   {:arglists ([x1 x2 y]),
    :resolved true,
    :existing "hlin",
    :alias "水平線"},
   "plot"
   {:arglists ([x y]), :resolved true, :existing "plot", :alias "情節"},
   "scrn"
   {:arglists ([x y]), :resolved true, :existing "scrn", :alias "屏幕"},
   "vlin"
   {:arglists ([y1 y2 x]),
    :resolved true,
    :existing "vlin",
    :alias "垂線"}},
  "power-turtle.api.turtle"
  {"back"
   {:arglists ([x]), :resolved true, :existing "back", :alias "背部"},
   "blue"
   {:arglists ([]), :resolved true, :existing "blue", :alias "藍色"},
   "clean"
   {:arglists ([]), :resolved true, :existing "clean", :alias "清潔"},
   "color"
   {:arglists ([x]), :resolved true, :existing "color", :alias "顏色"},
   "draw-turtle-commands"
   {:arglists ([turtle]),
    :resolved true,
    :existing "draw-turtle-commands",
    :alias "畫烏龜命令"},
   "end-fill"
   {:arglists ([]),
    :resolved true,
    :existing "end-fill",
    :alias "結束填充"},
   "forward"
   {:arglists ([x]), :resolved true, :existing "forward", :alias "前鋒"},
   "green"
   {:arglists ([]), :resolved true, :existing "green", :alias "綠色"},
   "home"
   {:arglists ([]), :resolved true, :existing "home", :alias "家"},
   "left"
   {:arglists ([x]), :resolved true, :existing "left", :alias "剩下"},
   "octagon"
   {:arglists ([]), :resolved true, :existing "octagon", :alias "八角形"},
   "pattern"
   {:arglists ([]), :resolved true, :existing "pattern", :alias "模式"},
   "pendown"
   {:arglists ([]), :resolved true, :existing "pendown", :alias "下筆"},
   "penup"
   {:arglists ([]), :resolved true, :existing "penup", :alias "明确"},
   "red" {:arglists ([]), :resolved true, :existing "red", :alias "紅"},
   "repeat"
   {:arglists ([n f]),
    :resolved true,
    :existing "repeat",
    :alias "重複"},
   "right"
   {:arglists ([x]), :resolved true, :existing "right", :alias "對"},
   "setheading"
   {:arglists ([angle]),
    :resolved true,
    :existing "setheading",
    :alias "設置標題"},
   "setxy"
   {:arglists ([x y]),
    :resolved true,
    :existing "setxy",
    :alias "設定位置"},
   "start-fill"
   {:arglists ([]),
    :resolved true,
    :existing "start-fill",
    :alias "開始填寫"},
   "wait"
   {:arglists ([ms]), :resolved true, :existing "wait", :alias "等待"}}}}
